body {
  background-image:url('img/background.jpg');
  background-repeat:repeat-x;
  background-size:cover;
  padding: 10px;
}

#Header{
  width:100%;
  height:10%;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  font-size:40px;
  color:#fffaf3;
  font-weight:bold;
  background-color:#1f1a1ada;
  margin:0px auto;
  position:relative;

}

#Sidebar{
    width:15%;
    height:90%;
    float:left;
    text-align:center;
    font-size:15px;
    color:#000000;
    font-weight:bold;
    background-color:#ffffff;
    position:relative;
  }

#Content{
  width:85%;
  height:90%;
  float:right;
  font-size:15px;
  font-weight:bold;
  background-color:#ffffff2a;
  margin:0px auto;
  position:relative;
}

#Thr{
  width: 100%;
  height: 200px;
  margin: 0 auto;
  padding-top: 10px;
  background-color:#91919193;
}

#Tittle{
width:38%;
height: 80%;
background-color: #695b5b86;
position:absolute;
margin-bottom:10px;
margin-top:10px;
margin-left:10px;
border-radius:3px;
}


#Relay{
  width: 100%;
  height: 30%; 
  
}

#Relay_box{
  
  width: 15%;
  height: 80%;
  float:left;
  margin-top:1.5%;
  margin-left:1.4%;
  
  
}
#Relay_box_title{
  width: 100%;
  height: 20%;
  background-color: #ffd000a6;
  vertical-align: middle;
  text-align:center;
  font-size:30px;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}
#Relay_box_switch{
  background-color: #9ce4a277;
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px;
  width: 100%;
  height: 80%;
  text-align:center;
  
}


#button{
  width: 80%;
  height: 50px;
  margin:0 auto;
  text-align:center;
  line-height:50px;
  margin-bottom: 10px;
  font-size:200%;
  background-color:#5c04045b;
  border-radius:10px;
  margin-top:10px;
}

#constom{
  
  width:96%; 
  height:90%; 
  background-color:#ffffff96; 
  border-radius:10px;
  
  margin:0 auto;

}

#block{
  width:25%;
  height:100%;
  float: left;
  margin:0 auto;

}

#thr_textbox{
  width:100%;
  height:20%;
  text-align:center;
  font-size:30px;
  float: left;
  margin:0 auto;
  
  
}

#bottom{
  width:100%;
  height:5%;
  float: left;
  position:absolute;
  bottom: 0px;
  background-color:#bbbbbb90
}